
$color1: #5B5B5B;
$color2: #001408;
$color3: #ffffff;
$color4: #BD200B;
$color5: #7D7C7A;

$white: #fefefe;
$light: $white;
$dark: $color1;

$bg: $color1;
$primary: $color4;
$special: $color4;

$primary-front: $color2;
$primary-bg: $color4;

$text-color: $dark;

$header-init-height: 40%;
$content-width-sm: 100%;
$content-width-md: 80%;
$content-width-lg: 60%;

$border-radius-default: 3px;

$font-header: 'Lato';
$font-regular: 'Merriweather';
