header
  .bg
  .wrap
    .cols 
      .col
        img.portrait(src="images/glbw.jpg",alt="Grzegorz Lachowski")
      .col
        .title
          h1= blogTitle 
            br
            small= blogSubtitle
    nav(role='navigation')
      ul.menu
        li 
          a(href='/about.html') about
        li 
          a(href='https://github.com/gregolsky') projects
        li
          a(href='/') articles      
    
