header
  .bg
  .wrap
    .cols 
      .col
        img.portrait(src="images/glbw.jpg",alt="Grzegorz Lachowski")
      .col
        .title
          h1= blogTitle 
            br
            small= blogSubtitle
    nav(role='navigation')
      h2.sr-only Menu
      ul.menu
        li 
          a(href='/about.html') About
        li 
          a(href='https://github.com/gregolsky') Projects
        li
          a(href='/') Articles      
    
