header
  .bg
  .wrap
    .cols 
      .col
        img.portrait(src="images/glbw.jpg",alt="Grzegorz Lachowski")
      .col
        .title
          h1 Grzegorz Lachowski
            br
            small Tech, programming, UX frustrations and life and death situations.
    nav(role='navigation')
      ul.menu
        li 
          a(href='/about') about
        li 
          a(href='https://github.com/gregolsky') projects
        li
          a(href='/') articles      
    
