@import 'animations';
@import 'mixins';
@import 'variables';

header
{
    position: relative;

    .bg
    {
        position: absolute;
        z-index: 0;

        display: block;
        overflow: hidden;

        width: 100%;
        height: 100%;
        margin: 0;

        transition-delay: 1s;
        transition-timing-function: linear;
        transition-duration: 15s;

        opacity: 1;
        background-image: url('/images/thorn.jpg');
        background-position: center center;

        @include box-shadow(2);
        @include animation('fade-in 3s ease-out 0s 1');
    }
}

header .wrap {
    position: relative;
    margin: 0 auto;
    background-color: transparentize($color1, .5);
    @extend %content-width;
}

.cols
{
    @extend %clearfix;

    $portrait-margin-sm: 15px;
    $portrait-margin-md: 30px;
    $portrait-margin-lg: 50px;

    .col {
        display: block;
        padding: 15px;
        float: left;

        @include bp-sm
        {
            height: 100px + $portrait-margin-sm * 2;
        }
        @include bp-md
        {
            height: 140px + $portrait-margin-md * 2;
        }
        @include bp-lg
        {
            height: 180px + $portrait-margin-lg * 2;
        }
    }

    .portrait
    {
        margin: $portrait-margin-sm 7px;

        text-align: right;

        border: 3px solid $primary;

        @include circle(80px);

        @include bp-md
        {
            margin: $portrait-margin-md 15px;
            @include circle(140px);
        }

        @include bp-lg {
            margin: $portrait-margin-lg 30px;
            @include circle(180px);
        }
    }

    .title {
        position: relative;
        top: 50%;
        display: block;
        transform: translateY(-50%);
    }

    h1
    {
        display: inline-block;
        color: $white;
        font-family: $font-h;
        font-size: 4.5vw;
        border-radius: $border-radius-default;

        @include bp-md {
            font-size: 2.6vw;
        }

        @include bp-lg {
            font-size: 2vw;
        }

        small {
            display: none;
            font-weight: 200;
            font-family: 'Roboto';
            font-size: 0.6em;

            @include bp-md {
                display: inline-block;
            }
            @include bp-lg {
                font-size: 0.5em;
            }
        }

    }
}

nav {
    @extend %content-width;

    position: relative;
    margin: 5px auto;
    padding: 5px 0;
    z-index: 100;
    text-align: center;

    @include bp-md {
        text-align: right;
    }

    ul.menu {
        @extend %clearfix;
        display: inline-block;
        list-style-type: none;

        @include font-size(16px);

        @include bp-md {
            @include font-size(24px);
        }

        @include bp-lg {
            @include font-size(30px);
        }

        font-family: $font-h;
        height: 1.5em;
        margin: 0;
        padding: 0 15px;

        li {
            display: block;
            color: $white;
            float: left;
            padding-right: 15px;
            padding-left: 0;

            a {
                color: white;
                text-decoration: none;
                font-weight: normal;
                padding: 0;
            }

            &:after {
                margin: 0 5px;
                padding-left: 15px;
                content: '+';
                color: $primary;
                display: inline-block;
            }

            &:last-child {
                padding-right: 0;

                &:after {
                    padding-left: 0;
                    display: none;
                }

            }


            // &:first-child:before,
            // &:last-child:after {
            //     content: '|';
            //     padding: 0 5px;
            //     display: inline-block;
            //     color: #ccc;
            // }

        }
    }
}
