@import 'animations';

header {
    position: fixed;

    width: 100%;
    height: 50%;

  .bg {
    background-image: url('/images/thorn.jpg');
    background-position: center center;
    box-shadow: 5px 0 5px 3px $color2;
    display: block;
    margin: 0;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    transition-delay: 1s;
    transition-duration: 15s;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    @include animation('fade-in 4s linear 0s 1');
    z-index: 0;
  }
}
