@import 'mixins';

body
{
    font-size: 16px;
    position: relative;

    margin: 0;
    padding: 0;

    @extend %clearfix;
    background-color: #eee;
}

footer {
    height: 50px;
}

[role='main']
{
    width: 100%;

    article {
        @extend %content-width;
        background-color: white;
        padding: 3em 3em;

        z-index: 100;

        margin: 0 auto;

        color: darken($dark, 15);

        h2 {
            @include font-size(40px);
            font-variant: small-caps;
            display: inline-block;
            padding: 0 10px 3px 0;
            margin-bottom: 15px;
        }

        .createdAt {
            display: block;
            color: lighten($dark, 20);
            font-family: $font-p;
        }

        .titlepic {
            display: block;
            max-height: 300px;
        }

        p {
            @include font-size(20px);
            margin: 1em;
        }
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

@import 'header';
