@import 'mixins';
@import 'variables';

body
{
    font-size: 16px;
    -webkit-backface-visibility: hidden;

    position: relative;

    margin: 0;
    padding: 0;

    background-color: #eee;
    background-image: url('../images/textured_paper.png');

    @extend %clearfix;
}

footer
{
    height: 50px;
}

[role='main']
{
    width: 100%;

    article
    {
        .content {
            ul {
                list-style: none;

                li {
                    &:before {
                        content: "\272E";
                        margin: 0 1em;
                        color: $special;
                    }
                }
            }
        }

        z-index: 100;

        min-height: 500px;
        margin: 0 auto;

        @include bp-sm {
            padding: 1em;
        }
        @include bp-md {
            padding: 3em 6em;
        }

        color: darken($dark, 15);
        background-color: white;

        @extend %content-width;
        @include material-shadow(2);

        h2
        {
            display: inline-block;
            text-transform: lowercase;

            margin-bottom: 15px;
            padding: 0 10px 5px 0;

            @include font-size(40px);
        }

        .createdAt
        {
            font-family: $font-regular;
            display: block;
            letter-spacing: .10em;
            color: lighten($dark, 20);
        }

        .titlepic
        {
            display: block;

            max-height: 300px;
        }

        p
        {
            @include font-size(20px);
        }

        a
        {
            color: $special;
        }
    }
}

ul.tags {
    display: block;
    text-align: right;
    list-style-type: none;

    padding-left: 0;

    li {
        color: white;
        font-size: smaller;
        background-color: $special;
        padding: 0.2em 0.4em;
        border-radius: $border-radius-default;
        display: inline-block;
        margin: 0 0.2em;
        font-family: $font-header;
        text-transform: lowercase;

        &::before {
            content: '#'
        }

    }
}

.pull-left
{
    float: left;
}

.pull-right
{
    float: right;
}

@import 'header';
