@import 'variables';

@mixin bp-lg {
  @media only screen and (min-width: 51em) {
    @content;
  }
}

@mixin bp-md {
  @media only screen and (max-width: 50em) {
    @content;
  }
}

@mixin bp-sm {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin circle($size) {
    border-radius: $size / 2;
    width: $size;
    height: $size;
}

%content-width {
    @include bp-lg
    {
        width: $content-width-lg;
    }
    @include bp-md
    {
        width: $content-width-md;
    }
    @include bp-sm
    {
        width: $content-width-sm;
    }
}
