@import 'variables';
@import 'mixins';

h1,
h2,
h3,
h4
{
    font-family: $font-h;

    margin: 0;
}

p
{
    font-family: $font-p;
    text-align: justify;
}

a
{
    font-family: inherit;
    font-weight: bold;

    padding: 0 .1em;

    text-decoration: underline;

    color: inherit;
}

%card
{
    margin: 0 auto;
    padding: 1.3em 2em;

    transition: .3s;

    border: 1px solid #ccc;
    background-color: $white;
    border-radius: $border-radius-default;

    @include material-shadow(2);

    &:hover
    {
        z-index: 1000;

        transition: .3s;
        transition-timing-function: ease-in-out;
        transform: scale(1.2);
    }
}
