@import 'variables';
@import 'mixins';

h1,
h2,
h3,
h4
{
    font-family: $font-sans;

    margin: 0;
}

p, ul li, ol li
{
    font-family: $font-serif;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5em;
}

code {
    font-size: smaller;
}

a
{
    font-family: inherit;

    padding: 0 .1em;

    text-decoration: underline;

    color: inherit;
}

%card
{
    margin: 0 auto;
    padding: 1.3em 2em;

    transition: .3s;

    border: 1px solid #ccc;
    background-color: $white;
    border-radius: $border-radius-default;

    @include material-shadow(2);

    &:hover
    {
        z-index: 1000;

        transition: .3s;
        transition-timing-function: ease-in-out;
        transform: scale(1.2);
    }
}
