

$color1: #363537;
$color2: #272838;
$color3: #53131E;
$color4: #fff249;
$color5: #483D3F;

$white: #fefefe;
$light: $white;
$dark: $color1;

$bg: $color1;
$primary: $color4;
$special: $color3;

$primary-front: $color2;
$primary-bg: $color4;

$text-color: $dark;

$header-init-height: 40%;
$content-width-sm: 100%;
$content-width-md: 80%;
$content-width-lg: 60%;

$border-radius-default: 3px;

$font-sans: 'Oswald', 'Arial', sans-serif;
$font-serif: 'Quattrocento', 'Verdana', serif;
