h2= title

:markdown
  Few months ago my 14 yr old brother asked me to teach him how to create a simple website. When I was at that age we made few super-ugly websites for our Computer Science classes using marquees and frames. They were all done with a notepad app.
