extends _layout

block head
    title 404 page not found
    meta(name='description', content='Page not found')

block content
    h2
        i.fa.fa-bug
        Nothing to see here..
    p
        The thing you asked for does not exist.
