h2 about me

p I'm a software developer with a few years of experience in server-side, as well as client-side web-development. I built up my experience mostly on Microsoft technologies (ASP.NET MVC, SQL Server), however I am eager to learn new things and experiment, not limiting myself to one specific approach or tech.

p Faculty of Mathematics and Computer Science Nicolaus Copernicus University graduate. Advanced GIT user. HTML5 and JavaScript enthusiast. Open source aficionado. Currently focused on frontends and Node.js scripting.

p Privately a techno geek, sci-fi addict, a music lover, husband and a father.

h2 about this place

p We all learn stuff and have our ways to remember and better understand the things we get to know. For me it's always been practice and trying things out in the field. Yet after the problem is solved, nothing is going stay in the head except the *déjà vu* feeling next time I see it. To solve this problem I am going to write about my solutions to issues I encounter, my pet projects, new stuff in tech I am excited with and from time to time I may spill a few words about my impressions on non-tech subjects I'm interested in.
