h2 articles

ul.articles
  - var articlesData = public.articles._data;
  - var articleSlugs = Object.keys(articlesData);
  - articleSlugs.reverse();
  each slug in articleSlugs
    - var article = articlesData[slug];
    li
      a(href="/articles/#{ slug }.html")
        .article
          .title #{ article.title }
          if article.pic
            .cover(style="background-image: url('#{ article.pic }');")
          else
           .cover
